<h1>Target Stream</h1>
<table *ngIf="targets$ | async as targets">
    <tr>
        <td class='column' *ngFor="let column of columns">{{column}}</td>
    </tr>
    <tr *ngFor="let target of targets">
        <td>{{ target?.id }}</td>
        <td>{{ target?.name }}</td>
        <td>{{ target?.nickname }}</td>
        <td>{{ target?.latLng | latlng2String }}</td>
        <td>{{ target?.updateTime | date: 'shortDate' }} </td>
        <td>{{ target?.mood | enum2String: Mood }}</td>
        <td>{{ target?.nationality | enum2String: Nationality }} </td>
        <td>[{{ target?.costumes }}]</td>
    </tr>
</table>